/*
0123456789abcdef
*/

/*Headings*/

body{
  background-color:#E50000;
  max-width:28em;
  padding:10%;
  margin: auto;
}

h1{
  text-align: center;
  text-transform: uppercase;
  font-family: verdana, tahoma, arial, sans-serif;
  font-style: none;
  color: yellow; <span style="style: italic">not</span>>;
  }
h2{
  text-align: left;
  text-transform: none;
  font-family: baskerville, georgia, times new roman, serif;
  font-style: none;
  color: yellow;
}
h3{
  text-align: center;
  text-transform: none;
  font-family: baskerville, georgia, times new roman, serif;
  font-style: italic;
  color: #F0F8FA;
}

/*Paragraph*/
  
#intro{
   text-align: left;
  text-transform: none;
  font-family: baskerville, georgia, times new roma, sans-serif;
    font-style: normal;
    color: yellow;
}
  
p{
  text-align: left;
  text-transform: none;
  font-family: baskerville, georgia, times new roman, serif;
  font-style: italic;
  color: #F0F8FA;
}
ol{
  text-align: left;
  text-transform: none;
  font-family: baskerville, georgia, times new roman, serif;
  font-style: none;
  color: yellow; 
}

#key-take::before{
  content:"";
  padding-top: 2em;
  padding-right: 2em;
  max-width: 50%;
  max-height: 50%;
    border-top:solid yellow;
    border-right:solid yellow;
    display: block;
  position:relative right;
}

#key-take::after{
  content:"";
  padding-bottom: 2em;
  padding-left: 2em;
  max-width: 50%;
  max-height: 50%;
    border-bottom:solid yellow;
    border-left:solid yellow;
    display: block;
  position:relative left;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

/* Links */
a{
text-align: center;
  text-transform: none;
  text-decoration: underline;
  font-family: verdana, tahoma, arial, sans-serif;
  font-style: none;
  color: #F0F8FA;}

dl dt{
  margin-top: 1em;
  margin-left: 0.5em;
}
